In [3]:
import pandas as pd
import numpy as np

#https://pandas.pydata.org/docs/index.html

#series

#from normal list

datalist = ['a', 'b', 'c', 'd']
label = ['1','2','3','4']
series= pd.Series(data=datalist, index=label)
#print(series)

#from np array
array = np.array([1,2,3,4])
series2 = pd.Series(array)
#print(series2)

#from dictionary
dictionary = {'name': 'kafi', 'first': 'Ab'}
series3 = pd.Series(dictionary,name="info")
print(series3)

#accessing data type 
series['1']
series[1]
series3["name"]
series3[1]

#series2.dtype

#math op (need same index)

name     kafi
first      Ab
Name: info, dtype: object

'Ab'

In [6]:
#dataframe
print(type(array))

df = pd.DataFrame(dictionary, index = ['index1','index2'] )

print(type(df))

<class 'numpy.ndarray'>
<class 'pandas.core.frame.DataFrame'>

In [ ]:
array = np.random.randint(10,15, size=(2,4))
df = pd.DataFrame(array,['index1','index2'],['column1','column2','column3','column4'])
df

# assign the keys as row labels and column labels separate
# with orient='index'

df=pd.DataFrame.from_dict(dict([('A', [1,2,3]), ('B', [4,5,6])]),
                      orient='index', columns=['one','two','three'])

# Get number of rows and columns as tuple
print(df.shape)

(2, 3)

In [ ]:
#working with data frame
print(df)
print()
print()
#accessing column
#print(df[['one','two']])
#accessing row
df.loc["A"]
df.iloc[1]
#accessing row and colums both
x = df.loc[['A','B'], ['one','three']]
#print(x)

#adding new dataframe column

df['new'] = df['one'] + df['two']
#print(df)

#adding new row 1.create a row and then append it to the dataframe
dictionary = {'one':3,'two':4, 'three': 19}
series= pd.Series(dictionary, name = 'C')
df = df.append(series) #it isn't inplace 
#print(df)

#delete column
x = df.drop('new', axis=1) #not inplace=true
#print(x)
#print(df)

#delete row
x = df.drop('C', axis=0) #not inplace=true
#print(x)

   one  two  three  new
A  1.0  2.0    3.0  3.0
B  4.0  5.0    6.0  9.0
C  3.0  4.0   19.0  NaN


   one  two  three  new
A  1.0  2.0    3.0  3.0
B  4.0  5.0    6.0  9.0

In [ ]:
df.assign(div=df['one'] / df['two'])

   one  two  three  new   div
A  1.0  2.0    3.0  3.0  0.50
B  4.0  5.0    6.0  9.0  0.80
C  3.0  4.0   19.0  7.0  0.75
C  3.0  4.0   19.0  NaN  0.75

In [ ]:
#conditional, sorting, data passing and functions  : we will talk about them some other time

In [ ]:
#file I/O (read_ to_) (single column : "usecols= [column_name],squeeze=True")
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [ ]:
# print(df.head())
# print(df.tail())
# print(df.describe())
# print(df.columns)
# print(df.row)

In [ ]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [ ]:
# Get total count of both columns
df.count()

# skipna skips null / NaN values
df.sum(skipna=True)
# Get mean for named column
df["median_income"].mean()
df["median_income"].median()
df["median_income"].mode()
df["median_income"].min()
df["median_income"].max()
df["median_income"].prod() # Product of values
df["median_income"].std() # Standard deviation
df["median_income"].var() # Variance
df["median_income"].sem() # Standard error
# Negative : Left long tail, Positive : Right long tail
df["median_income"].skew()
# Kurtosis : < 3 less outliers, 3 Normal Distribution,
# > 3 more outliers
df["median_income"].kurt()
df["median_income"].quantile(.5)
df["median_income"].cumsum()
df["median_income"].cumprod()
df["median_income"].cummax()
df["median_income"].cummin()

# Multiple stats at once
df.describe()

In [ ]:
#missing data

dict_4 = {'A': [1,2,np.nan], 'B': [4, np.nan, np.nan], 'C': [7.,8.,9.]}
df_10 = pd.DataFrame(dict_4)
print(df_10)

# Drop missing data from DF (Drops any row with missing values)
df_10.dropna()

# # Drop all columns with any missing data
# df_10.dropna(axis=1)

# # Drop row unless it has at least 2 non-NaN values
# df_10.dropna(thresh=2)

# # Fill NaN values with 0
# df_10.fillna(value=0.0)

# # Fill A column with the mean of column
# df_10['A'].fillna(value=df_10['A'].mean())

# # Fill with previous value
# df_10.fillna(method='ffill')

# # Fill with next value (Only works if there is a next value)
# df_10.fillna(method='bfill')